
@font-face {  font-family: '8Bit';  src:url('../src/font/8Bit.ttf');}
@font-face {  font-family: 'ledboard';  src:url('../src/font/ledboard.ttf');}
@font-face {  font-family: 'ledcounter';  src:url('../src/font/ledcounter.ttf');}
@font-face {  font-family: '5by7';  src:url('../src/font/5by7.ttf');}
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
