body{
  background-image: url('../src/img/bg.jpg');
  background-position: bottom;
  background-color: rgba(0,0,0,1);
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.all{
  /* background-color: yellow; */ */
  max-width: 900px;
  width: 90vw;
  height: 80vh;
  margin:auto;
  display: block;
}

.logo{
  width: 90%;
  height: 40%;
  max-width: : 600px;
  margin:auto;
  display: block;
  /* background-color: blue; */
}
.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.game{
  width: 100%;
  height: 35%;
  min-height: 300px;
  max-width: : 600px;
  margin:auto;
  /* background-color: red; */
}

.score{
  width: 100%;
  height: 7%;
   /* background: orange; */
}

@media only screen and (max-width: 600px) {
  #flex {
    display: flex;
    flex-direction: column;
  }
  #flex > #IDcredits { order: 0; }
  #flex > #IDscore { order: 1; }
  #flex > #IDlogo { order: 2;}
  #flex > #gb { order: 3};
}
