#select01, #select00 {
   width: 100%;
}
img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#container01, #container00 {
  position: relative;
  width: 50%;
  /* max-width: 100px; */
  margin: 0px;
}
#container00{  float:left;}
#container01{  float:right;}
#container00:hover{
  -webkit-filter: drop-shadow(1px 1px 0 #305e72)
  drop-shadow(-1px -1px 0 #305e72);
  filter: drop-shadow(1px 1px 0 #305e72)
  drop-shadow(-1px -1px 0 #305e72);
  cursor: pointer;
}
#container01:hover{
  -webkit-filter: drop-shadow(1px 1px 0 #305e72)
  drop-shadow(-1px -1px 0 #305e72);
  filter: drop-shadow(1px 1px 0 #305e72)
  drop-shadow(-1px -3px 0 #305e72);
  cursor: pointer;
}
#cc{
  width: 50%;
  max-width: 200px;
  height: 50%;
  margin: auto;
}
